p {

    width: 700px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 30px;
    background: white;

}

.myname {

    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    display: inline;
    position: relative;
    left: 12%; 
    
}

h2 {

    color: #4aaaa5;

}   

h1, h2 {

    font-family: 'Georgia', Times, Times New Roman, serif;

}

.toplinks {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:  #777777;
    position: relative;
    left: 50%;
    text-align: center;
    text-decoration: none;  
  
    
}

/*I had planned to use a border on one side of the links to get the line, but 
  didn't get it quite right so I found this idea online and it worked okay */
.toplinks + .toplinks:before {
    
    display: inline;
    content: " | ";
    padding: 10px;
    position: relative; 
    top: -2px;
    color: lightgray;
      
}


.top {

    display: 'inline-block';
    background: white;
    padding: 20px 0;
    border-bottom: 2px solid #cccccc;
    z-index: 1;
   
}

.mypic {

    float: left;
    height: 100px;
    width: 150px;
    padding: 20px 20px 0 0;
    margin: 0 0 0 0;

}

  .grayline {

    border-top: 2px solid #cccccc;
    width: 920px;

  }

  .copyright {

    color: lightgray;

  }

  .content {
    min-height: calc(100vh - 40px);
  }

  body {

    z-index: 3;
    min-width: 960px; 
 
  
  }

  .gravelbackground {

      width: 100%;
      z-index: 2;
      background-image: url('./assets/images/gravel.png');
   
  }

  .main {

    margin: 20px auto 80px auto;
    z-index: 3;
    background: white;
    width: 920px;
    padding: 20px 20px;
    
  }

  .mainport {
   
    height: 1100px;
  }

  .textbox {

    width: 920px;

  }

  .messagebox {

    width: 920px;
    height: 150px;

  }

  .submitbutton {

    background: #4aaaa5;
    color: white;
    padding: 10px 20px 10px 20px;

  }

  .gallery {

    margin: 20px 20px 20px 0;
    float: left;
    
  }

  .portfoliopics {

    padding: 20px 20px 20px 20px;
    height: 200px;
    width: 250px;
    z-index: 1;
  }

  .label {

    background: #4aaaa5;
    color: white;
    padding: 10px 20px 10px 20px;
    width: 210px;
    z-index: 2;  
    position: relative;
    top: -80px;
    left: 20px;
    
  }


  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
    
  }
  
  .footer{

    background: #666666;
    padding: 10px 0 0 0;
    border-top: 8px solid #4aaaa5;
    height: 40px;

  }
